*{
    padding: 0;
    margin: 0;
}



body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;

}

.blink{
    display: flex;
    justify-content: space-between;
    color: rgb(19, 19, 19);
    padding: 2px 200px;
    font-size: 30px;
    animation: blinker 0.5s linear infinite;
    align-items: left;
}

@keyframes blinker{
    60%{
      opacity: 0;
    }
}

footer{
color:rgb(101, 101, 101);

}
.details{
    display: flex;
}
.heath{
    float: right;
}

